/* General styling */
.App {
  min-height: 100vh; /* Ensures the App takes up the full viewport height */
  display: flex;
  flex-direction: column; /* Allows for the stacking of elements */
  justify-content: flex-start; /* Aligns items at the top */
  overflow-x: hidden; /* Prevent horizontal overflow */
}


/* Styling for the header */
.App-header {
  flex-grow: 1; /* Allows the header to expand and push down content */
  padding-top: 80px; /* Adjust to prevent overlap with navbar */
  margin-bottom: 60px; /* Ensures spacing between content and footer */
}

/* Navigation bar styling */
nav {
  width: 100%;
  background-color: #333333;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between; /* Distribute logo, nav items, and search */
  align-items: center; /* Vertically align the items */
  padding: 10px 50px; /* Adjust spacing */
}

nav .logo {
  font-size: 10 rem;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center; /* Center navigation links */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Search bar styling */
nav .search-bar {
  flex-grow: 1; /* Make the search bar take up the available space */
  margin-left: 20px; /* Adjust the position a bit to the left */
}

/* Search bar styling */
nav .search-bar input {
  width: 70%; /* Adjust the width */
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}

/* Ensure content doesn't hide behind the navbar */
.App-header {
  padding-top: 80px; /* Adjust for the height of the fixed navbar */
}

/* Footer styling */
footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative; /* Change to relative to avoid overlap with content */
  width: 100%;
  margin-top: auto; /* Ensures the footer stays at the bottom */
}

/* Styling for the Item List */
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  padding-top: 50px; /* Adds space between navigation and list */
}


li {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

li:hover {
  background-color: #ffffff;
}
